<template>
  <Container class="mt-4">
    <CardList>
      <Card
        v-for="(category, index) in categories"
        :key="`category_${index}`"
        :title="category.title"
        :href="`${$route.path}/${category._slug}`"
        :img-url="category.image"
      />
    </CardList>
  </Container>
</template>

<script>
import { mapGetters } from "vuex";
import Container from '~/components/Container'
import CardList from "~/components/CardList"
import Card from "~/components/Card"

export default {
  components: { Container, CardList, Card },
  computed: {
    ...mapGetters("site", ['tree']),
    categories() {
      return Object.entries(this.tree).map(([, category]) => category.data)
    }
  }
};
</script>
