<template>
  <Container class="mt-4">
    <CardList>
      <Card
        v-for="(product, index) in products"
        :key="`product_${index}`"
        :title="product.title"
        :href="product._path"
        :img-url="product.image"
        :picture-sources="product.pictures[product.image]"
      />
    </CardList>
  </Container>
</template>

<script>
import { mapGetters } from "vuex";
import Container from '~/components/Container'
import CardList from "~/components/CardList"
import Card from "~/components/Card"

export default {
  components: { Container, CardList, Card },
  computed: {
    ...mapGetters("site", ["productsByCategory"]),
    products() {
      const { category } = this.$route.params
      return Object.entries(this.productsByCategory[category]).map(([path, entry]) => entry.data)
    }
  }
};
</script>
