<template>
  <Container class="mt-4">
    <template v-if="hasSubcategories">
      <CardList>
        <Card
          v-for="(subcategory, index) in subcategories"
          :key="`subcategory_${index}`"
          :title="subcategory.title"
          :href="`${$route.path}/${subcategory._slug}`"
          :img-url="subcategory.image"
        />
      </CardList>
    </template>
    <template v-if="hasProducts">
      <CardList :class="`${hasSubcategories ? 'mt-8':''}`">
        <Card
          v-for="(product, index) in products"
          :key="`product_${index}`"
          :title="product.title"
          :href="`${$route.path}/${product._slug}`"
          :img-url="product.image"
          :picture-sources="product.pictures[product.image]"
        />
      </CardList>
    </template>
  </Container>
</template>

<script>
import { mapGetters } from "vuex";
import Container from '~/components/Container'
import CardList from "~/components/CardList"
import Card from "~/components/Card"

export default {
  components: { Container, CardList, Card },
  computed: {
    ...mapGetters("site", ["tree"]),
    hasSubcategories() {
      return !!Object.keys(this.subcategories).length
    },
    hasProducts() {
      return !!Object.keys(this.products).length
    },
    subcategories() {
      const { category } = this.$route.params
      const categoryObj = this.tree[category]
      const subcategories = Object.entries(this.tree[category].subcategories)
      const allEntry = {
        title: 'Alle producten',
        _slug: 'alles',
        image: categoryObj.data.image || '/ab-image-not-found.png'
      }
      return [
        ...(subcategories.length ? [allEntry] : []),
        ...subcategories.map(([slug, entry]) => entry.data)
      ]
    },
    products() {
      return Object
        .entries(this.tree[this.$route.params.category].products)
        .map(([slug, entry]) => entry.data)
    }
  }
};
</script>
