<template>
  <Container class="mt-4">
    <Product :product="product" />
  </Container>
</template>

<script>
import { mapGetters } from "vuex";
import Container from '~/components/Container'
import Product from '~/components/Product'

export default {
  name: 'ProductPage',
  components: { Container, Product },
  computed: {
    ...mapGetters("site", ["tree"]),
    product() {
      const { category, subcategory, product } = this.$route.params
      return this.tree[category].subcategories[subcategory].products[product].data
    }
  }
};
</script>
