@tailwind base;
@tailwind components;

@screen sm {
  .sm\:grid-template-columns-1\/2 {
    grid-template-columns: 1fr 2fr;
  }
  .sm\:grid-template-columns-1\/3 {
    grid-template-columns: 1fr 3fr;
  }
  .sm\:grid-template-columns-1\/4 {
    grid-template-columns: 1fr 4fr;
  }
}

.markdown {
  p {
    margin-bottom: 0.75rem;
  }
}

a {
  text-decoration: underline;
}

@tailwind utilities;
