<template>
  <div class="card">
    <h3 v-if="heading" class="card__heading">{{ heading }}</h3>
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'AppHeading',
  props: {
    heading: {
      type: String,
      required: false,
      default: null
    }
  }
}
</script>
