<template>
  <section class="section">
    <div class="section__container">
      <h2 v-if="heading" :name="anchor">{{ heading }}</h2>
      <slot/>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AppSection',
  props: {
    heading: {
      type: String,
      required: false,
      default: null
    }
  },
  computed: {
    anchor() {
      return this.heading ? this.heading
        .toLowerCase()
        .replace(/\s/, '-')
        .replace('--', '-')
        .replace(/[^a-z0-9-]/, '')
        : null
    }
  }
}
</script>
