<template>
  <Container class="mt-8">
    <ol class="flex flex-wrap">
      <li v-for="(entry, index) in entries" :key="`bc-${index}`">
        <span v-if="entry.last" class="font-bold">{{ entry.title }}</span>
        <a v-else class="mr-1" :href="entry.url">{{ entry.title }} &gt; </a>
      </li>
    </ol>
  </Container>
</template>

<script>
import { mapGetters } from "vuex";
import Container from './Container'

export default {
  name: 'Breadcrumb',
  components: { Container },
  computed: {
    ...mapGetters('site', ['productUrlMap']),
    pathParts() {
      const { $route: { path } } = this
      return path.replace(/^\/|\/$/, '').split('/')
    },
    entries() {
      const { pathParts, productUrlMap } = this
      const entries = []

      if (pathParts.length === 0) {
        entries.push({ title: 'Home' })
      } else {
        for (let url, i = 0; i <= pathParts.length; i++) {
          url = '/' + pathParts.slice(0, i).join('/')
          if (productUrlMap[url]) {
            entries.push({ title: productUrlMap[url], url })
          }
        }
      }

      if (entries.length > 0) {
        entries[entries.length - 1].last = true
      }

      return entries
    }
  }
}
</script>
