<template>
  <component
    :is="href ? 'a' : 'span'"
    class="block bg-white rounded overflow-hidden shadow border"
    :href="href"
  >
    <Picture
      :image-url="imgUrl"
      image-class="h-32 object-contain mx-auto"
      class="w-full object-cover"
    />
    <div v-if="title" class="p-2">
      <component
        :is="
          parseInt(titleWeight, 10) && titleWeight < 7
            ? `h${titleWeight}`
            : 'span'
        "
        class="font-semibold text-lg text-ab-yellow-800 inline-block max-w-full truncate"
        :title="title"
      >
        {{ title }}
      </component>
    </div>
  </component>
</template>

<script>
import Picture from './Picture'

/**
 * Simple card. Functional, therefore stateless.
 */
export default {
  name: "Card",
  components: { Picture },
  props: {
    /**
     * The URL to link to
     */
    href: {
      type: String,
      required: false,
      default: undefined
    },
    /**
     * Card title
     */
    title: {
      type: String,
      required: false,
      default: undefined
    },
    /**
     * Image URL
     */
    imgUrl: {
      type: String,
      default: undefined
    },
    /**
     * The title heading weight. Renders `<h*>`, defaults to `<span>`
     */
    titleWeight: {
      type: Number,
      required: false,
      default: undefined
    },
    /**
     * Sources for the <picture> element
     */
    pictureSources: {
      type: Array,
      required: false,
      default: () => ([])
    }
  }
};
</script>
