<template>
  <div class="carousel relative">
    <div :class="['carousel-inner', 'relative', 'overflow-hidden', 'w-full', 'h-full']">
      <template v-for="(slide, index) in slides">
        <input
          :id="`${slide.id}-check`"
          :key="`${slide.id}-check`"
          class="carousel-open"
          type="radio"
          name="carousel"
          aria-hidden="true"
          hidden=""
          :checked="slide.checked"
        >
        <div
          :id="`${slide.id}-slide`"
          :key="`${slide.id}-slide`"
          :class="slideClasses"
        >
          <Picture
            :image-url="slide.src"
            class="h-full w-full"
            image-class="h-full w-full object-contain"
          />
          <template v-if="hasMultipleSlides">
            <label
              :id="`${slide.id}-prev`"
              :for="`${slide.prevId}-check`"
              class=" opacity-50 hover:opacity-100 prev w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-ab-yellow-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto"
            >‹</label>
            <label
              :id="`${slide.id}-next`"
              :for="`${slide.nextId}-check`"
              class=" opacity-50 hover:opacity-100 next w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-ab-yellow-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto"
            >›</label>
            <ol class="carousel-indicators h-6 overflow-hidden bg-ab-yellow-600 opacity-75">
              <li
                v-for="(slideCount, slideCountIndex) in slides"
                :key="`${slide.id}-slide-count-${slideCountIndex}`"
                class="inline-block mr-3 -mt-5 opacity-100"
              >
                <label :for="`${slideCount.id}-check`" :class="{'carousel-bullet':true, 'cursor-pointer':true, 'block':true, 'text-4xl':true, 'text-white':slideCountIndex !== index, 'hover:text-ab-yellow-700':slideCountIndex !== index, 'text-ab-yellow-700':slideCountIndex === index}">•</label>
              </li>
            </ol>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import uuidv4 from 'uuid/v4'
import Picture from './Picture'

export default {
  name: 'Carousel',
  components: { Picture },
  props: {
    images: {
      type: Array,
      required: true,
      default: () => ([])
    },
    pictures: {
      type: Object,
      required: true,
      default: undefined
    }
  },
  data() {
    return {
      id: uuidv4()
    }
  },
  computed: {
    slides() {
      return Object.entries(this.pictures).map(([src, altsrcs], index, list) => ({
        src,
        altsrcs,
        id: `carousel_${this.id}_slide_${index}`,
        nextId: `carousel_${this.id}_slide_${index === list.length - 1 ? 0 : index + 1}`,
        prevId: `carousel_${this.id}_slide_${index > 0 ? index - 1 : list.length - 1}`,
        checked: index === 0
      }))
    },
    slideClasses() {
      return [
        'carousel-item',
        'absolute',
        'opacity-0',
        'h-full',
        'w-full',
        'bg-ab-yellow-700'
      ]
    },
    hasMultipleSlides() {
      return this.slides.length > 1
    }
  },
  mounted() {
    this.id = uuidv4()
  }
}
</script>

<style>
  .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
  }
  .carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
</style>
