<template functional>
  <div :class="['container max-w-6xl mx-auto px-4 py-1', data.class, data.staticClass]">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'Container'
}
</script>
