<template>
  <footer class="mt-2">
    <Container class="my-8">
      <dl class="grid sm:grid-template-columns-1/2 max-w-sm mx-auto mt-4">
        <template v-for="(item, i) in contactDetails">
          <dt :key="`contact-item-${i}-label`" class="text-ab-yellow-800 text-sm sm:mb-2">
            <component :is="item.icon" class="w-4 h-4 mr-1 inline-block fill-current" />
            <span>{{ item.label }}</span>
          </dt>
          <dd :key="`contact-item-${i}-value`" class="pl-6 sm:pl-0 mb-2 sm:whitespace-no-wrap">
            <a :href="item.href" :target="item.target">{{ item.text }}</a>
          </dd>
        </template>
      </dl>
      <p class="mt-8 text-center">Aqua-barn. Laatste update {{ lastUpdateStr }}</p>
    </Container>
  </footer>
</template>

<script>
import { format } from 'date-fns'
import { mapGetters } from "vuex"
import Container from './Container'
import IconEmail from './icons/Email'
import IconInstagram from './icons/Instagram'
import IconWhatsapp from './icons/Whatsapp'
import IconFacebook from './icons/Facebook'

export default {
  name: 'Footer',
  components: {
    Container,
    IconEmail,
    IconInstagram,
    IconWhatsapp,
    IconFacebook
  },
  computed: {
    ...mapGetters("site", ["texts", "lastUpdate"]),
    lastUpdateStr() {
      return format(this.lastUpdate, 'dd-MM-yyyy')
    },
    contactDetails() {
      const { phone, email, instagram, facebook } = this.texts.contact
      return [
        {
          label: 'whatsapp',
          text: phone,
          href: `tel:${phone}`,
          icon: 'IconWhatsapp'
        },
        {
          label: 'e-mail',
          text: email,
          href: `mailto:${email}`,
          icon: 'IconEmail'
        },
        {
          label: 'instagram',
          text: instagram,
          href: instagram,
          icon: 'IconInstagram',
          target: '_blank'
        },
        {
          label: 'facebook',
          text: facebook,
          href: facebook,
          icon: 'IconFacebook',
          target: '_blank'
        }
      ]
    }
  }
}
</script>
