<template>
  <header
    class="pt-4 pb-2 px-4 bg-ab-yellow-400 shadow-lg"
  >
    <Container class="block sm:flex sm:justify-between items-center flex-wrap">
      <a href="/" class="block text-center sm:flex sm:items-center">
        <img
          class="h-12 mx-auto sm:h-8 sm:ml-0 sm:mr-4"
          src="/icon.png"
          alt=""
        />
        <span class=" text-xl font-semibold">Aqua barn</span>
      </a>
      <nav class="mt-2 sm:mt-0">
        <ul v-if="navigationItems" class="flex justify-around -mx-1">
          <li
            v-for="(item, i) in navigationItems"
            :key="`nav_item_${i}`"
            :class="
              `rounded bg-ab-yellow-600 px-4 py-1 mx-1 whitespace-no-wrap text-ab-yellow-{$item.active ? '800':'900}`
            "
          >
            <a :href="item.url">{{ item.title }}</a>
          </li>
        </ul>
      </nav>
    </Container>
  </header>
</template>

<script>
import Container from './Container'

export default {
  name: "Header",
  components: { Container },
  props: {
    navigationItems: {
      type: Array,
      required: false,
      default: () => ([
        { title: 'home', url: '/' }, { title: 'producten', url: '/producten' }
      ])
    }
  }
};
</script>
