<template>
  <picture>
    <source
      v-for="(src, srcIndex) in sources"
      :key="`picture-${id}-source-${srcIndex}`"
      :media="src.mq"
      :srcset="src.path"
    />
    <img
      :src="imageUrl"
      :class="imageClass"
      alt=""
    />
  </picture>
</template>

<script>
import uuidv4 from 'uuid/v4'

export default {
  name: 'Picture',
  props: {
    imageUrl: {
      type: String,
      required: true
    },
    imageClass: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return {
      id: uuidv4()
    }
  },
  computed: {
    sources() {
      const validImage = this.imageUrl && this.imageUrl.indexOf('/uploads') === 0

      return !validImage ? [] : [
        {
          key: "xs",
          mq: "(max-width: 640px)"
        },
        {
          key: "sm",
          mq: "(min-width: 640px) and (max-width: 767px)"
        }, {
          key: "md",
          mq: "(min-width: 768px) and (max-width: 1023px)"
        },
        {
          key: "lg",
          mq: "(min-width: 1023px)"
        },
        {
          key: "xl",
          mq: "(min-width: 1279px)"
        }
      ].map(src => ({
        ...src,
        path: this.imageUrl.replace('/uploads', `/res/${src.key}`)
      }))
    }
  }
}
</script>
