<template>
  <div class="block bg-white rounded overflow-hidden shadow border lg:flex lg:flex-row-reverse">
    <Carousel
      class="h-64 flex-grow-0 flex-shrink-0 overflow-hidden sm:h-96 sm:m-4 sm:rounded-lg md:h-128 lg:h-72 lg:w-96"
      :images="product.imageArray"
      :pictures="product.pictures"
    />
    <div class="p-4 flex-grow flex-shrink">
      <h1 class="text-xl mb-4 font-semibold">{{ product.title }}</h1>
      <div class="markdown" v-html="$md.render(product.description)"/>
      <template v-if="product.price">
        <hr class="mb-2">
        <p>
          Prijs:<br>
          <span class="pl-1">{{ product.price }}</span>
        </p>
      </template>
    </div>
  </div>
</template>

<script>
import Carousel from './Carousel'

export default {
  name: 'Product',
  components: { Carousel },
  props: {
    product: {
      type: Object,
      required: true
    }
  }
}
</script>
