<template>
  <Container class="mt-4">
    <CardList>
      <Card
        v-for="(product, i) in products"
        :key="`product_${i}`"
        :title="product.title"
        :img-url="product.img"
        :href="product.url"
      />
    </CardList>
  </Container>
</template>

<script>
import Card from './Card'
import CardList from './CardList'
import Container from './Container'

export default {
  components: {
    Card,
    CardList,
    Container
  },
  data() {
    return {
      products: [
        {
          img:
            "https://2.bp.blogspot.com/--a1GPAf-nZI/TWW4SW9mzOI/AAAAAAAABCQ/4x3ut12YiQg/s1600/100316184706_fish_2.jpg",
          title: "Vissen",
          url: '#'
        },
        {
          img: "http://i.ebayimg.com/images/i/261040338403-0-1/s-l1000.jpg",
          title: "Visvoer",
          url: '#'
        },
        {
          img:
            "https://2.bp.blogspot.com/--a1GPAf-nZI/TWW4SW9mzOI/AAAAAAAABCQ/4x3ut12YiQg/s1600/100316184706_fish_2.jpg",
          title: "Vissen",
          url: '#'
        },
        {
          img: "http://i.ebayimg.com/images/i/261040338403-0-1/s-l1000.jpg",
          title: "Visvoer",
          url: '#'
        },
        {
          img:
            "https://2.bp.blogspot.com/--a1GPAf-nZI/TWW4SW9mzOI/AAAAAAAABCQ/4x3ut12YiQg/s1600/100316184706_fish_2.jpg",
          title: "Vissen",
          url: '#'
        },
        {
          img: "http://i.ebayimg.com/images/i/261040338403-0-1/s-l1000.jpg",
          title: "Visvoer",
          url: '#'
        }
      ]
    };
  }
};
</script>
