<template>
  <div class="min-h-screen">
    <Header />
    <Breadcrumb />
    <nuxt />
    <Footer/>
  </div>
</template>

<script>
import Header from '../components/Header'
import Breadcrumb from '../components/Breadcrumb'
import Footer from '../components/Footer'

export default {
  components: { Header, Breadcrumb, Footer },
  head() {
    return {
      htmlAttrs: {
        class: 'bg-gray-100 bg-ab-yellow-100 antialiased text-gray-800'
      }
    }
  }
}
</script>
