<template>
  <Container class="mt-4">
    <div v-if="hasMessage" class="markdown bg-ab-yellow-800 text-ab-yellow-200 p-4 pb-1 mb-8 text-xl rounded shadow-md" v-html="$md.render(texts.message)" />
    <h1 class="text-xl mb-4 font-semibold">{{ texts.about.title }}</h1>
    <div class="markdown" v-html="$md.render(texts.about.text)" />
  </Container>
</template>

<script>
import { mapGetters } from "vuex";
import Container from '../components/Container'

export default {
  components: { Container },
  computed: {
    ...mapGetters("site", ["texts"]),
    hasMessage() {
      return this.texts.message && this.texts.message.trim() !== ''
    }
  }
};
</script>
