<template>
  <Container class="mt-4">
    <template v-if="product">
      <Product :product="product" />
    </template>
    <template v-else>
      <CardList>
        <Card
          v-for="(prd, index) in products"
          :key="`prd_${index}`"
          :title="prd.title"
          :href="`${$route.path}/${prd._slug}`"
          :img-url="prd.image"
          :picture-sources="prd.pictures[prd.image]"
        />
      </CardList>
    </template>
  </Container>
</template>

<script>
import { mapGetters } from "vuex";
import Container from '~/components/Container'
import CardList from "~/components/CardList"
import Card from "~/components/Card"
import Product from "~/components/Product"

export default {
  components: { Container, CardList, Card, Product },
  computed: {
    ...mapGetters("site", ["tree"]),
    category() {
      const { category } = this.$route.params
      return this.tree[category].data
    },
    product() {
      const { category, subcategory } = this.$route.params
      const { products } = this.tree[category]
      return products && products[subcategory] ? products[subcategory].data : null
    },
    products() {
      const { category, subcategory } = this.$route.params
      const { subcategories } = this.tree[category]
      return subcategories && subcategories[subcategory] && subcategories[subcategory]
        ? Object.entries(subcategories[subcategory].products).map(([, prd]) => prd.data)
        : null
    }
  }
};
</script>
