:root,
html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.section {
  padding: 0.5rem;

  &:nth-child(even) {
    background-color: #eee;
  }
  &:nth-child(odd) {
    background-color: #fff;
  }

  &__container {
    margin: 0 auto;
    max-width: 800px;
  }
}

.imageset {
  position: relative;
  display: inline-block;
  & > img {
    max-width: 30%;
  }
}

.header {
  text-align: center;
  &__logo {
    display: inline-block;
    width: 60%;
    max-width: 400px;
  }
}

.main {
  &__header {
    padding: 0.5rem;
  }
  &__footer {
    text-align: center;
    padding: 2rem;
    background-color: #bbb;
  }
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  & + & {
    border-top: solid 1px #bbb;
    margin-top: 1rem;
  }
}
